In [2]:
#from starter code
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from pprint import pprint

# Reflect Tables into SQLAlchemy ORM

In [3]:
#from starter code
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
measurement = Base.classes.measurement
station = Base.classes.station
session = Session(engine)

# Master Queries
#### For later use and editing

In [24]:
cmd_alldata_m = "SELECT * FROM measurement"
columns_m = session.execute(cmd_alldata_m).keys()
result_alldata_m = session.execute(cmd_alldata_m).fetchall()

cmd_alldata_s = "SELECT * FROM station"
columns_s = session.execute(cmd_alldata_s).keys()
result_alldata_s = session.execute(cmd_alldata_s).fetchall()

cmd_alldata = "SELECT date, measurement.station, name, latitude, longitude, elevation, prcp, tobs FROM measurement INNER JOIN station ON measurement.station = station.station ORDER BY date asc"
columns_all = session.execute(cmd_alldata).keys()
result_alldata = session.execute(cmd_alldata).fetchall()

pprint (columns_m)
#pprint (result_alldata)

['id', 'station', 'date', 'prcp', 'tobs']

# Exploratory Climate Analysis

* Calculate the date 1 year ago from the last data point in the database

In [25]:
cmd_meas_precipdate = "SELECT date, prcp FROM measurement ORDER BY date desc Limit 1"
columns_meas_precipdate = session.execute(cmd_meas_precipdate).keys()
result_meas_precipdate = session.execute(cmd_meas_precipdate).fetchall()

#pprint (columns_meas_precipdate)
#pprint (result_meas_precipdate)
#Last date in DB is 2017-08-23, one year prior would be 2016-08-23

* Perform a query to retrieve the data and precipitation scores

In [27]:
cmd_meas_precipdata = "SELECT date, prcp FROM measurement WHERE date BETWEEN '2016-08-23' AND '2017-08-23' ORDER BY date asc"
columns_meas_precipdata = session.execute(cmd_meas_precipdata).keys()
result_meas_precipdata = session.execute(cmd_meas_precipdata).fetchall()

#pprint (columns_meas_precipdata)
#pprint (result_meas_precipdata)

* Save the query results as a Pandas DataFrame and set the index to the date column

* Sort the dataframe by date

In [83]:
df_meas_precipdata= pd.DataFrame(result_meas_precipdata, columns = ["Date", "Precipitation"]).fillna(0.00)
df_meas_precipdata
#Data was already sorted by date in the SQL Query.

            Date  Precipitation
0     2016-08-23           0.00
1     2016-08-23           0.15
2     2016-08-23           0.05
3     2016-08-23           0.00
4     2016-08-23           0.02
...          ...            ...
2225  2017-08-22           0.50
2226  2017-08-23           0.00
2227  2017-08-23           0.00
2228  2017-08-23           0.08
2229  2017-08-23           0.45

[2230 rows x 2 columns]

* Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
plt.title("Date vs. Precipitation (inches)")
x= df_meas_precipdata["Date"]
y= df_meas_precipdata["Precipitation"]
plt.scatter(x, y)
plt.xlabel("Date")
plt.ylabel("Precipitation (inches)")
plt.rcParams["figure.figsize"] = (15,15)
plt.show()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [12]:
# Design a query to show how many stations are available in this dataset?

[(9)]

In [13]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [14]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

[(54.0, 85.0, 71.66378066378067)]

In [1]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [16]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

[(62.0, 69.57142857142857, 74.0)]

In [17]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

62.0 68.36585365853658 74.0

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [19]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

[('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4, 0.31), ('USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9, 0.25), ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6, 0.1), ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6, 0.060000000000000005), ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9, 0.0), ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0, 0.0), ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9, 0.0), ('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0, 0.0), ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5, 0.0)]

## Optional Challenge Assignment

In [20]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

[(62.0, 69.15384615384616, 77.0)]

In [21]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

[(62.0, 69.15384615384616, 77.0),
 (60.0, 69.39622641509433, 77.0),
 (62.0, 68.9090909090909, 77.0),
 (58.0, 70.0, 76.0),
 (56.0, 67.96428571428571, 76.0),
 (61.0, 68.96491228070175, 76.0),
 (57.0, 68.54385964912281, 76.0)]

In [22]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

            tmin       tavg  tmax
date
2018-01-01  62.0  69.153846  77.0
2018-01-02  60.0  69.396226  77.0
2018-01-03  62.0  68.909091  77.0
2018-01-04  58.0  70.000000  76.0
2018-01-05  56.0  67.964286  76.0

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`